@import 'fonts';
@import 'mobirise2';
@import 'bootstrap.min';
@import 'bootstrap-grid.min';
@import 'bootstrap-reboot.min';
@import 'style';
@import 'socicon-styles';
@import 'theme-style';
@import 'mbr-additional';

$darkblue: #05386b;
$white: #fff;

.header-logo {
  cursor: pointer;
  font-family: "SignPainter", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  color: $darkblue;
}

.language {
  &-switcher {
    display: inline-block;
    cursor: pointer;
    position: relative;
    background-color: $darkblue;
    color: $white;
    padding: 8px 8px 8px 10px;
  }

  &-selected {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    &__arrow {
      font-size: 0.5rem;
      margin-left: 6px;
    }
  }

  &-dropdown {

    &__list {
      position: absolute;
      left: 0;
      top: 44px;
      width: 100%;
      display: none;

      &.opened {
        display: block;
      }
    }

    &__item {
      background-color: $white;
      color: $darkblue;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      padding: 5px;
      transition: 0.1s ease-in;

      &:hover {
        background-color: $darkblue;
        color: $white;
        transition: 0.1s ease-in;
      }
    }
  }
}

.vue-map-container {
  height: 100%;

  .vue-map {
    min-height: 10rem;
  }
}

.socicon {
  &-facebook,
  &-twitter,
  &-instagram, {
    font-size: 1.25rem;
  }
}

.footer {
  &__social-list {
    .socicon {
      font-size: 1.5rem;
      color: $white;
      opacity: 0.5;
    }
  }
}

.swiper {
  &-wrapper{
    padding-bottom: 35px;
  }
  &-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px !important;
  }
}

@media (max-width: 991px) {
  .language-switcher {
    margin-top: 10px;
  }
}