@import 'fonts';
@import 'mobirise2';
@import 'bootstrap.min';
@import 'bootstrap-grid.min';
@import 'bootstrap-reboot.min';
@import 'style';
@import 'socicon-styles';
@import 'theme-style';
@import 'mbr-additional';

$darkblue: #05386b;
$white: #fff;

.cid-sFAA5oUu2Y .navbar-expand-lg .navbar-nav .nav-link {
  font-size: 1rem;
}

.cid-sFCAOqBTxa .mbr-section-title, .products-title {
  font-size: 4rem;
}

.products-undertitle {
  font-size: 1.5rem;
}

.cid-sFADMOwrhN {
  .card-title {
    font-size: 2.5rem;
  }
  .mbr-text {
    font-size: 1rem;
  }
  .price {
    font-size: 2.5rem;
  }
}

.btn.btn-primary.display-4 {
  font-size: 1rem;
}

.cid-sFANq99njx .card-title {
  font-size: 2.5rem;
}

.cid-sFANq99njx .mbr-text, .cid-sFANq99njx .mbr-section-btn {
  font-size: 1rem;
}

.cid-sFAOgbarYq .mbr-section-title {
  font-size: 2.5rem;
}

.cid-sFAOgbarYq .card-title {
  font-size: 1.5rem;
}

.cid-sFAOgbarYq P {
  font-size: 1rem;
}

.cid-sFAOjz8nX7 .media-container-row .foot-menu li a {
  font-size: 1.1rem;
}

.header-logo {
  cursor: pointer;
  font-family: "SignPainter", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  color: $darkblue;
}

.language {
  &-switcher {
    display: inline-block;
    cursor: pointer;
    position: relative;
    background-color: $darkblue;
    color: $white;
    padding: 8px 8px 8px 10px;
  }

  &-selected {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;

    &__arrow {
      font-size: 0.5rem;
      margin-left: 6px;
    }
  }

  &-dropdown {

    &__list {
      position: absolute;
      left: 0;
      top: 44px;
      width: 100%;
      display: none;

      &.opened {
        display: block;
      }
    }

    &__item {
      background-color: $white;
      color: $darkblue;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      padding: 5px;
      transition: 0.1s ease-in;

      &:hover {
        background-color: $darkblue;
        color: $white;
        transition: 0.1s ease-in;
      }
    }
  }
}

.vue-map-container {
  height: 100%;

  .vue-map {
    min-height: 10rem;
  }
}

.socicon {
  &-facebook,
  &-twitter,
  &-instagram, {
    font-size: 1.25rem;
  }
}

.footer {
  &__social-list {
    .socicon {
      font-size: 1.5rem;
      color: $white;
      opacity: 0.5;
    }
  }
}

.swiper {
  &-wrapper{
    padding-bottom: 35px;
  }
  &-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px !important;
  }
}

@media (max-width: 991px) {
  .language-switcher {
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  .cid-sFCAOqBTxa {
    padding-top: 11rem;
    padding-bottom: 11rem;
  }
  .cid-sFCAOqBTxa .mbr-section-title, .products-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .cid-sFCAOqBTxa .mbr-text, .cid-sFCAOqBTxa .mbr-section-btn {
    font-size: 1rem;
  }
  .cid-sFADMOwrhN {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .cid-sFANq99njx {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .cid-sFANq99njx .card-title {
    font-size: 2rem;
  }
  .socicon-facebook, .socicon-twitter, .socicon-instagram {
    font-size: 1.75rem;
  }
  .cid-sFAOgbarYq {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .cid-sFAOgbarYq .mbr-section-title {
    font-size: 2rem;
  }
  .cid-sFAOgbarYq .row .map-wrapper {
    margin-bottom: 1.5rem;
  }
  .cid-sFAOgbarYq .card-wrapper:not(:nth-last-child(1)) {
    margin-bottom: 1rem;
  }
  .cid-sFAOjz8nX7 {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
  .cid-sFADMOwrhN .card-title {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .cid-sFCAOqBTxa .mbr-section-title, .products-title {
    font-size: 2rem;
  }
  .products-undertitle {
    font-size: 1.2rem;
  }
  .cid-sFADMOwrhN .card-title {
    font-size: 1.8rem;
  }
  .cid-sFADMOwrhN .price {
    font-size: 2rem;
  }
  .cid-sFAOgbarYq .mbr-iconfont {
    font-size: 1.5rem;
  }
  .cid-sFAOgbarYq .card-title {
    font-size: 1.2rem;
  }
}